{% extends "base.html" %} 

{% block content %}

<h2 style="text-align: center">Login</h2>
<form method="post">

  <div class="form-row">

    <label for="username">Username</label>
    <input type="text" name="username" value="{{username}}">
  </div>

  <div class="form-row">
    <label for="password">Password</label>
    <input type="password" name="password" value="">
  </div>

  <div class="error">
    {{error}}
  </div>
  <div style="text-align:center;">
    <input type="submit">
  </div>
</form>

{% endblock %}