{% extends "base.html" %}

{% block content %}
    {{post.render() | safe}}
  <div class="like-comment-bar">
    <div class="like">
      {% if user %}
        {% if not post.has_user_liked(user.name) %}
          <a class="post-link" href="/blog/{{user.name}}/{{post.key().id()}}/like">Like</a> 
        {% else %}
          Liked!
        {% endif %}
      {% endif %}
      <div class="popup" onclick="myFunction()"> 👍 {{post.get_number_of_likes() }} 
        <span class="popuptext" id="myPopup">{{post.get_liked_users() }}</span>
      </div>
      
    </div>
    {% if user %}
    <div class="comments">
      Comment
    </div>
    {% endif %}
    {% if user.name == post.user_name %}
    <div class="edit">
      <a class="post-link" href="/blog/{{post.key().id()}}/edit">Edit</a> | 
      <a class="post-link" href="/blog/{{post.key().id()}}/delete">Delete</a>
    </div>
    {% endif %}
  </div>

  <form method="post">
    <div>Comment</div>
    <textarea class="comment_area" name="content">{{content}}</textarea>
    <br>
    <input type="submit">
  </form>
  
  {% if comments.count() > 0 %}
  {% for comment in comments %}
    {% if comment %}
    {{comment.render() | safe}}
    {% endif %}
  {% endfor %}
  {% endif %}

<script>
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}

</script>
{% endblock %}
