{% extends "base.html" %}

{% block content %}
    {{post.render() | safe}}
  <div class="like-comment-bar">
    <div class="like">
      {% if user and post.user.name != user.name %}
        {% if not post.has_user_liked(user.name) %}
          <a class="post-link" href="/blog/{{user.name}}/{{post.key().id()}}/like">Like</a> 
        {% else %}
          Liked!
        {% endif %}
      {% endif %}
      <div class="popup" onclick="myFunction()"> 👍 {{post.likes }} 
        <span class="popuptext" id="myPopup">{{post.liked_users }}</span>
      </div>
      
    </div>
    {% if user %}
    <div class="comments">
      Comment
    </div>
    {% endif %}
    {% if user.name == post.user.name %}
    <div class="edit">
      <a class="post-link" href="/blog/{{post.key().id()}}/edit">Edit</a> | 
      <a class="post-link" href="/blog/{{post.key().id()}}/delete">Delete</a>
    </div>
    {% endif %}
  </div>

{% if user %}
  <form method="post" action="/blog/{{post.key().id()}}/comment">
    <div>Comment</div>
    <textarea class="comment_area" name="content">{{content}}</textarea>
    <br>
    <input type="submit">

    <div class="error">{{error_comment}}</div>

  </form>

{% endif %}

<div class="error">{{error}}</div>        

  {% if comments.count() > 0 %}
  {% for comment in comments %}
    {% if comment %}
    {{comment.render() | safe}}
      {% if comment.user_name == user.name %}
        <a class="comment-link" href="/blog/{{post.key().id()}}/{{comment.key().id()}}/edit">Edit</a> | 
        <a class="comment-link" href="/blog/{{post.key().id()}}/{{comment.key().id()}}/delete">Delete</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% endif %}

<script>
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}

</script>
{% endblock %}
