<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a class="post-link" href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {% if user %}
        {{p.created.strftime("%b %d, %Y")}} | <a class="post-link" href="/blog/{{p.key().id()}}/edit">Edit</a>
      {% else %}
        {{p.created.strftime("%b %d, %Y")}} | Created by {{p.user.name}}
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

</div>
